@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url(reset.css);
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('/fonts/PTSans-NarrowBold.woff2') format('woff2'),
        url('/fonts/PTSans-NarrowBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('/fonts/PTSans-Narrow.woff2') format('woff2'),
        url('/fonts/PTSans-Narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    /* font-family: 'PT Sans Narrow',sans-serif; */
    font-family: 'Alegreya Sans SC', sans-serif;
    /* font-family: 'Marck Script', cursive; */
    line-height: 1.2;
    text-indent: 15px;
}
.title{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
}
h1{
    font-style: italic;
    text-shadow: 5px 3px 6px rgb(228, 213, 10);
    color: rgb(128, 99, 99)
    
}
.list{
    font-size: 28px;
    font-style: oblique;
}
h2{
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    color: rgba(165, 42, 42, 0.664);
    text-shadow: 3px 6px 8px rgb(83, 188, 230);
}
p{
    font-size: 20px;
    white-space: normal;
}
.issues{
    font-family:'Marck Script', cursive; ;
}
.characters{
    font-size: 20px;
    word-spacing: 7px;
}
.name{
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 22px;
    text-decoration: underline;
}
h3{
    font-size: 26px;
    font-weight: 500;
    color: rgba(165, 142, 42, 0.521);
}
.part{
    text-transform: capitalize;
    font-weight: 700;
}
.history{
    font-size: 22px;
    text-align: left;
}
.script{
    text-align: right;
}
.more{
    text-align: left;
}
.link h2{
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    color: rgb(43, 201, 64);
    text-shadow: 3px 3px 6px rgb(223, 203, 26);
    text-transform: uppercase;
    letter-spacing: 6px;
}